.profile {
    margin: 20px auto;
    display: flex;
    justify-content: left;
    align-items: left;
    
}
  
  
  .profile h1 {
    font-size: 20px;
    text-align: left;
  }
  
  .profile h2 {
    font-size: 20px;
    text-align: left;
  }
  .profile h3 {
    font-size: 20px;
    text-align: left;

  }
   .profile h4 {
    font-size: 20px;
    text-align: left;

  }
   .profile h5 {
    font-size: 20px;
    text-align: left;

  }
  .profile h6 {
    font-size: 20px;
    text-align: left;

  }
  
  
  .test {
    font-size: 40px;
    font-weight: bold;
    color:rgb(158, 158, 14);
    text-align: right;
  }
  
  .btn{
    
    cursor: pointer;
    background: darkblue;
    color:gray;
    font-size: 30px;
  
   
  }
  
  